.navbarfull{
    background: ;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
}

.navimage{
    height: calc(2.5vh + 25px);
    margin-right: 50px;
}
.navlink{
    color: rgb(0, 0, 0)
}
.navlink:hover{
    color: rgb(226, 5, 255);
}

